section{
    
    text-align: center;
    margin: auto;
    margin-top: 50px;
    max-width: 600px;

    background-color: orange;
    color: white;

    border-radius: 20px;
}
section p{
    margin: 30px;
}
section img{
    margin: 30px;
}